.gradient {
  top: 0;
  left: 0;
  z-index: -1;
  width: 100vw;
  height: 100vh;
  position: absolute;
  transform: skewY(-6deg) translateY(-8rem);
  background: linear-gradient(to top right, #1d4ed8, #9d174d);
}

/******************************************************************/
/***************************** HEADER *****************************/
/******************************************************************/

header {
  gap: 20px;
  padding: 0 16px;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

header nav ul {
  margin: 0;
  gap: 20px;
  flex-direction: row;
}

header a {
  min-height: 66px;
  line-height: 66px;
  text-decoration: none;
  color: rgb(249, 168, 212);
}

header a:hover {
  color: rgb(251, 207, 232);
}

header .search {
  transition: 0.2s;
  max-width: 192px;
  position: relative;
  border-radius: 50px;
  background: rgba(30, 41, 59, 0.3);
  box-shadow: 0 0 0 1px rgba(249, 168, 212, 0.5) inset;
}

header .search input {
  margin: 0;
  width: 100%;
  border: none;
  outline: none;
  min-height: 34px;
  font-size: 1.6rem;
  line-height: 34px;
  position: relative;
  padding: 0 16px 0 36px;
  background: transparent;
  color: rgb(249, 168, 212);
}

header .search:focus-within {
  box-shadow: 0 0 0 1px rgba(249, 168, 212, 0.65) inset,
    0 0 1px 3px rgb(243 216 232 / 27%);
}

header .search input::placeholder {
  font-weight: 200;
  opacity: 0.9;
  color: rgb(249, 168, 212);
}

header .search:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 36px;
  height: 100%;
  background-size: 20px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../images/search.svg);
}

/**********************************************************************/
/***************************** LOGO-TITLE *****************************/
/**********************************************************************/

.logo-title {
  gap: 32px;
  padding: 0 32px;
  align-items: center;
  flex-direction: row;
}

.logo .adaptive-img--contain {
  height: 144px;
  width: 191px;
}

.title .adaptive-img--contain {
  width: 313px;
  height: 64px;
}

/*****************************************************************/
/***************************** INTRO *****************************/
/*****************************************************************/

.intro {
  gap: 48px;
  padding: 0 32px;
  align-items: center;
  flex-direction: row;
}

.text {
  gap: 40px;
  flex: 2 0;
  padding: 40px 0;
}

.text h2 {
  font-weight: 800;
  font-size: 4.8rem;
  line-height: 48px;
  display: inline-block;
  color: rgb(255, 255, 255);
}

.text p {
  font-size: 2.4rem;
  line-height: 32px;
  color: rgb(221, 214, 254);
}

.block-code {
  flex: 1 0;
  height: 320px;
  border-radius: 6px;
  background: rgb(17, 24, 39);
}

.list-anim {
  margin: 0;
  position: relative;
  display: inline-block;
}

.list-anim li {
  top: -42px;
  min-width: 300px;
  position: absolute;
  animation: fade-up 2000ms ease-in-out infinite;
  animation-duration: calc(13 * 2000ms);
  opacity: 0;
  transform: translateY(100%);
}

@keyframes fade-up {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  0.25%, 4.1% {
    opacity: 1;
    transform: translateY(0);
  }
  4.35%, 100% {
    opacity: 0;
    transform: translateY(-100%);
  }
}
